*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

:host {
  display: block;

  margin-bottom: 2rem;
}

.current-country {
  margin-bottom: 0.5rem;

  font-size: 2.2rem;
}

.last-updated {
  color: gray;
  font-size: 1.3rem;
}
